In [36]:
import pandas as pd
import numpy as np

In [37]:
df = pd.read_excel("../data/raw/Regional Sales Dataset.xlsx")

In [38]:
df.head()

,OrderNumber,OrderDate,Customer Name Index,Channel,Currency Code,Warehouse Code,Delivery Region Index,Product Description Index,Order Quantity,Unit Price,Line Total,Total Unit Cost
0,SO - 000225,2014-01-01,126,Wholesale,USD,AXW291,364,27,6,2499.1,14994.6,1824.343
1,SO - 0003378,2014-01-01,96,Distributor,USD,AXW291,488,20,11,2351.7,25868.7,1269.918
2,SO - 0005126,2014-01-01,8,Wholesale,USD,AXW291,155,26,6,978.2,5869.2,684.740
3,SO - 0005614,2014-01-01,42,Export,USD,AXW291,473,7,7,2338.3,16368.1,1028.852
4,SO - 0005781,2014-01-01,73,Wholesale,USD,AXW291,256,8,8,2291.4,18331.2,1260.270

In [39]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64104 entries, 0 to 64103
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   OrderNumber                64104 non-null  object
 1   OrderDate                  64104 non-null  datetime64[ns]
 2   Customer Name Index        64104 non-null  int64
 3   Channel                    64104 non-null  object
 4   Currency Code              64104 non-null  object
 5   Warehouse Code             64104 non-null  object
 6   Delivery Region Index      64104 non-null  int64
 7   Product Description Index  64104 non-null  int64
 8   Order Quantity             64104 non-null  int64
 9   Unit Price                 64104 non-null  float64
 10  Line Total                 64104 non-null  float64
 11  Total Unit Cost            64104 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(4), object(4)
memory usage: 5.9+ MB

In [40]:
df['OrderDate'] = pd.to_datetime(df['OrderDate'])

In [41]:
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(' ', '_')
)
df = df.rename(columns={
    'ordernumber': 'order_number',
    'orderdate': 'order_date'
})

In [42]:
df.columns

Index(['order_number', 'order_date', 'customer_name_index', 'channel',
       'currency_code', 'warehouse_code', 'delivery_region_index',
       'product_description_index', 'order_quantity', 'unit_price',
       'line_total', 'total_unit_cost'],
      dtype='object')

In [43]:
df.isnull().sum()

order_number                 0
order_date                   0
customer_name_index          0
channel                      0
currency_code                0
warehouse_code               0
delivery_region_index        0
product_description_index    0
order_quantity               0
unit_price                   0
line_total                   0
total_unit_cost              0
dtype: int64

In [44]:
df.duplicated().sum()

np.int64(0)

Create new metrics

In [45]:
df['revenue'] = df['line_total']

In [46]:
df['total_cost'] = df['total_unit_cost'] * df['order_quantity']

In [47]:
df['profit'] = df['revenue'] - df['total_cost']

In [48]:
df['profit_margin'] = df['profit'] / df['revenue']

In [49]:
##validate the new metrics
df[['revenue', 'total_cost', 'profit', 'profit_margin']].describe()

            revenue    total_cost        profit  profit_margin
count  64104.000000  64104.000000  64104.000000   64104.000000
mean   19280.682937  12077.192361   7203.490577       0.373594
std    15429.602766  10180.428965   6626.122492       0.132386
min      837.500000    351.750000    125.625000       0.150000
25%     8019.900000   4793.850000   2542.549500       0.260000
50%    14023.100000   8789.562500   5091.464000       0.370000
75%    27416.400000  16816.464000   9922.164000       0.490000
max    78711.600000  65330.628000  45559.464000       0.600000

In [50]:
df['year'] = df['order_date'].dt.year
df['month'] = df['order_date'].dt.month
df['month_name'] = df['order_date'].dt.month_name()

In [51]:

df.shape

(64104, 19)

In [52]:
df.head(1)

,order_number,order_date,customer_name_index,channel,currency_code,warehouse_code,delivery_region_index,product_description_index,order_quantity,unit_price,line_total,total_unit_cost,revenue,total_cost,profit,profit_margin,year,month,month_name
0,SO - 000225,2014-01-01,126,Wholesale,USD,AXW291,364,27,6,2499.1,14994.6,1824.343,14994.6,10946.058,4048.542,0.27,2014,1,January

### Data Cleaning & Feature Engineering Summary

- Converted date columns to datetime format to enable accurate time-series analysis.
- Standardized column names using snake_case for consistency and ease of use.
- Retained repeated order_number values as they represent valid sales events rather than data quality issues.
- Created derived business metrics including revenue, total cost, profit, and profit margin.
- Extracted time-based features such as year, month, and month_name to support trend and seasonality analysis.

In [53]:
df.to_csv("../data/processed/cleaned_regional_sales_data.csv", index=False)